.imagerow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.imagecolumn {
  flex: 25%;
  max-width: 33%;
  padding: 0 4px;
}

.imagecolumn img {
  vertical-align: middle;
  max-width: 75%;
  max-height: 45%;
  margin-top: 10px;
}